Source: libtertiusqbit-webinterface-controller-multistate-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl (>=0.010)
Standards-Version: 3.9.4

Package: libtertiusqbit-webinterface-controller-multistate-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl (>=0.010)
Conflicts: libqbit-webinterface-controller-multistate-perl
Replaces: libqbit-webinterface-controller-multistate-perl
Description: View multistates in QBit application.
 View multistates in QBit application.
